[run]
omit =
    */glearn/externals/*
    **/setup.py

    */glearn/compose/*
    */glearn/datasets/*
    */glearn/images/*
    */glearn/neural_network/*
    */glearn/model_selection/*

    **/base.py
    **/pipeline.py
    **/_version.py