[submodule "giottolearn/externals/ripser"]
	path = giottolearn/externals/ripser
	url = https://github.com/scikit-tda/ripser.py.git
[submodule "giottolearn/externals/gudhi-devel"]
	path = giottolearn/externals/gudhi-devel
	url = https://github.com/giotto-ai/gudhi-devel
	branch = giottolearn
