[submodule "glearn/externals/ripser"]
	path = glearn/externals/ripser
	url = https://github.com/scikit-tda/ripser.py.git
[submodule "glearn/externals/gudhi-devel"]
	path = glearn/externals/gudhi-devel
	url = https://github.com/giotto-learn/gudhi-devel
	branch = giotto
