jobs:
- job: 'manylinux2010'
  pool:
    vmImage: 'ubuntu-16.04'
  strategy:
    matrix:
      Python36:
        arch: x86_64
        plat: manylinux2010_x86_64
        python_ver: '36'
        python.version: '3.6'
      Python37:
        arch: x86_64
        plat: manylinux2010_x86_64
        python_ver: '37'
        python.version: '3.7'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'

  - task: Bash@3
    inputs:
      filePath: azure-ci/build_manylinux2010.sh
      failOnStderr: false
    env:
      python_ver: $(python_ver)
    displayName: 'Run the docker and open bash' 
 
  - script: |
      python -m pip install --upgrade pip
      pip install pytest pytest-cov pytest-azurepipelines pytest-benchmark flake8
    displayName: 'install pytest suite'
    
  - script: |
      pip install dist/*.whl
      cd /tmp/
      pytest --cov --pyargs giotto --cov-report xml --ignore-glob='*externals*'
    displayName: 'install and test the wheels'

  - task: CopyFiles@2
    displayName: 'copy files'
    inputs:
      contents: 'dist/*'
      targetFolder: '$(Build.ArtifactStagingDirectory)'

  - task: PublishBuildArtifacts@1
    displayName: 'create download link'
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: 'wheel_and_doc'


- job: 'macOS1013'
  pool:
    vmImage: 'macOS-10.13'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'

  - script: |
      brew update
      brew install boost
      brew install gcc
    displayName: 'install boost and gcc'

  - script: python -m pip install --upgrade pip setuptools
    displayName: 'Install tools'

  - script: |
      pip install -e ".[tests, doc]"
      pip install wheel twine
    displayName: 'Install dev environment'

  - script: |
      pip install plotly matplotlib
      jupyter nbconvert --to notebook --execute examples/*.ipynb
      pip uninstall -y giotto-learn
      pytest --cov giotto --cov-report xml
      flake8 --exit-zero
    displayName: 'Test with pytest, nbconvert and flake8'

  - script: python setup.py sdist bdist_wheel
    displayName: 'build the wheels'
    
  - script: |
      pip install dist/*.whl
      cd /tmp/
      pytest --cov --pyargs giotto --cov-report xml --ignore-glob='*externals*'
    displayName: 'install and test the wheels'

  - script: |
      cd doc/
      make html
      cd ..
    displayName: 'Build sphinx doc'
    
  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: doc/build
      includeRootFolder: true
      archiveType: 'zip'
      tarCompression: 'gz'
      archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
      replaceExistingArchive: true
    displayName: 'archive doc'

  - task: CopyFiles@2
    displayName: 'copy files'
    inputs:
      contents: 'dist/*'
      targetFolder: '$(Build.ArtifactStagingDirectory)'

  - task: PublishBuildArtifacts@1
    displayName: 'create download link'
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: 'wheel_and_doc'


- job: 'win2016'
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'

  - script: python -m pip install --upgrade pip setuptools
    displayName: 'Install tools'

  - script: |
      pip install -e ".[tests, doc]"
      pip install wheel twine
    displayName: 'Install dev environment'

  - script: |
      pip install plotly matplotlib
      jupyter nbconvert --to notebook --execute examples/*.ipynb
      pip uninstall -y giotto-learn
      pytest --cov giotto --cov-report xml
      flake8 --exit-zero
    displayName: 'Test with pytest, nbconvert and flake8'

  - bash: |
      sed -i $'s/\r$//' README.rst
      python setup.py sdist bdist_wheel
    displayName: 'build the wheels'
    
  - bash: |
      pip install dist/*.whl
      cd /tmp/
      pytest --cov --pyargs giotto --cov-report xml --ignore-glob='*externals*'
    displayName: 'install and test the wheels'

  - task: CopyFiles@2
    displayName: 'copy files'
    inputs:
      contents: 'dist/*'
      targetFolder: '$(Build.ArtifactStagingDirectory)'

  - task: PublishBuildArtifacts@1
    displayName: 'create download link'
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: 'wheel_and_doc'
