/*.cfg
wasserstein/build/
*.gitattributes
*.opensdf
*.sdf
*.suo
*.vcxproj
*.filters
*.log
*.tlog
*.lastbuildstate
*.obj
*.idb
*.pdb
*.exe
*.ilk
*.user
*.out
*.output
*.pyc
*.*~*
*.swp
*.nfs*
*.pdf
*.o
*.d
*.dll
*.lib
*.exe
makeout
tags
